 $heading-large: 10rem;
 $heading-medium: 6.4rem;
 $heading-small : 2.8rem;
 $text-paragraph: 2rem;

 $black: #000000;
 $white: #ffffff;
 $grey: #545454;

 $theme-bg: #fff6ed;
 $theme-green: #194027;
 $theme-orange: #fa8072