.burger-menu {
    display: none;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 20;
    cursor: pointer;
    border-radius: 20px;

    &__line {
        top: 0;
        background-color: $theme-green;
        width: 4rem;
        height: 0.3rem;
        margin-bottom: 0.9rem;
        z-index: 20;
        transition: all 0.2s ease-in-out;

        &--open {
            &:nth-child(1) {
                transform: rotate(45deg) translate(0.7rem, 0.7rem);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-45deg) translate(1rem, -1rem);
            }
        }
    }

    @media screen and (max-width: 900px) {
        display: block;
    }
}

.navigation-wrapper {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15rem;
    padding-inline: calc(3rem + 4vw);
    z-index: 10;
    background-color: $theme-bg;
    transition: all 0.3s ease-in-out;


    @media screen and (max-width: 900px) {
        position: absolute;
        flex-direction: column;
        height: 100vh;
        padding: 8rem 2rem 4rem 2rem;
        top: 0;
        right: 0;
        width: 80%;
        opacity: 0;

        &--open {
            display: flex;
            height: 100%;
            width: 100%;
            opacity: 1;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 900px) {
            flex-direction: column;
            height: 100%;
            justify-content: center;
        }
    }

    &__item a {
        display: inline-block;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $theme-green;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }

        &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }

        @media screen and (max-width: 900px) {
            margin-bottom: 2rem;
        }
    }

    a {
        text-transform: uppercase;
        margin-inline: 2rem;
    }
}