.container {
    width: 100%;
    height: 40rem;
    background-color: $theme-purple;
}

.text {
    font-size: 15rem;
    font-family: $font-decorative;

    @media screen and (max-width: 768px) {
        font-size: 10rem;
    }
}