.frame {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -10;

    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__shape {
        fill: salmon;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}